ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: $main-font;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
  }
}
img {
  max-width: 100%;
  display: block;
  height: auto;
}
