.section-qualities {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and(min-width:1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.qualities-icon {
  width: 70px;
  height: 70px;
}
.icon-section {
  display: flex;
  background-color: $background-color-insight;
  width: inherit;
  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
}
.qualities-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin: -15px;
  @media screen and(min-width:768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.qualities-list .item {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .qualities-list .item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .qualities-list .item {
    width: 270px;
  }
}

.quality {
  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}
.quality-description {
  color: $paragraph-text-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 0;
}
