.what-we-do {
  display: none;
  padding-bottom: 94px;

  @media screen and(min-width:1200px) {
    display: block;
  }
}
.what-we-do-header {
  color: $title-text-color;
  font-weight: 700;
  font-size: 36px;

  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  margin-top: 0px;
}
.what-we-do-list {
  display: flex;
  margin: 0;
}

.what-we-do-list .description {
  position: absolute;
  margin: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  color: $white-color;
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  padding-bottom: 27px;
}
.what-we-do-list .item {
  position: relative;
}
.what-we-do-list .item:not(:last-child) {
  margin-right: 30px;
}
